.blog-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins', sans-serif;
    background-color: #f0f0f2;
}
.blog-heading-div{
    width: 50%;
    font-size: 15px;
    line-height: 34px;
    margin-top: 4rem;
}
.blog-published-div{
    width: 50%;
}
.blog-published-div h3{
    font-weight: 300;
    margin: 6px 0px 0px 1px;
    font-size: 12px;
}
.blog-published-div h3 span{
    font-weight: 600;
    font-size: 12px;
}
.blog-image{
    margin: 2rem 0rem;
}
.blog-image img{
    height: 16rem;
}
.blog-description-div{
    width: 50%;
    margin-bottom: 4rem;
}
.blog-description-div p{
    font-weight: 300;
    font-size: 14px;
}
@media(max-width:1028px){
    .blog-image img{
        height: 13rem;
    }
}
@media(max-width:768px){
    .blog-heading-div{
        width: 70%;
    }
    .blog-published-div{
        width: 70%;
    }
    .blog-description-div{
        width: 70%;
    }
}
@media(max-width:768px){
    .blog-heading-div{
        width: 80%;
    }
    .blog-published-div{
        width: 80%;
    }
    .blog-description-div{
        width: 80%;
    }
    .blog-image img{
        height: 9rem;
    }
}
